.scroll-bar {
    -fx-pref-width: 16.5;
    -fx-padding: 0 3 0 3;
    -fx-background-color: white;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-cursor: DEFAULT ;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.track-background {
    -fx-background-color: white;
}

.increment-button {
    -fx-background-color: transparent;
}

.increment-arrow {
    -fx-background-color: grey;
}

.decrement-button {
    -fx-background-color: transparent;
}

.decrement-arrow {
    -fx-background-color: grey;
}

.track {
    -fx-background-color: transparent;
}

.thumb {
    -fx-background-color: grey;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}